.div-banner{
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.carousel-div{
    width: 90%;
    display: flex;
    justify-content: center;
}

.carousel-img{
    height: 500px;
    object-fit: cover;
    width: auto;
}

.carousel-button{
    width: 10%;
}