.div-banner{
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;
}

.carousel-div{
    width: 90%;
    display: flex;
    justify-content: center;
}

.carousel-img{
    height: 500px;
    object-fit: cover;
    width: auto;
}

.carousel-button{
    width: 10%;
}

.div-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.title{
    text-align: center;
}

.description{
    text-align: justify;
}