button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 8px;
    padding: 10px 25px 10px 25px;
    box-shadow: 8px 8px 8px -4px rgba(143,143,143,1);
}

button:hover{
    background-color: darkgray;
    color: aliceblue;
}